@tailwind base;
@tailwind components;
@tailwind utilities;



.container {
  max-width: 1400px;
  margin: auto;
}
.iconText {
  background: linear-gradient(61.62deg, #00c0fd -264.38%, #e70faa 196.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
}
.nameIcon {
  background: linear-gradient(61.62deg, #00c0fd -264.38%, #e70faa 196.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-size: 35px; */
  position: relative;
  bottom: 20px;
  font-size: 20px;
  left: 5px;
}
.section1Text1{
  color: rgba(66, 68, 110, 1);
  font-size: 40px;
  font-weight: 700;
  width: 400px;
}
